@font-face{
	font-family:Elowen Regular;
	src: url(../fonts/ElCaps.ttf);
} 
/*Адаптация Смартфоны*/
@media screen and ( max-width: 720px){
	/*Header*/
	.header{
		padding-bottom: 25px;
	}
	.job-clock_1{
		padding-left: 24px !important;
	}
	.job-clock_2{
		padding-left: 0px !important;
	}
	.header-logo img{
		padding-bottom: 30px !important;
	}
	.job-clock h6{
		margin-left: 0 !important;
	}
		.btn-header{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.btn-form{
		padding: 0 !important;
		font-size: 13px;
	}
	.header-form{
		width: 100%;
	}
	.header-form input{
		padding-left: 10px !important;
		font-size: 14px;
	}
	.header-form button{
		width: 162px;
	}
	.main-form{
		padding-top: 0 !important;
	}
	.hide-main{
		display: none;
	}
	..hide-main i{
		font-size: 28px;
	}
	.main h6{
		display: none;
	}
	.submenu{
		top: 0;
	}
	.modal-text{
	display: block;
	font-size: 14px;
	}
	.user-mobile{
		display: block !important;
	}
	.drop-block-mobile{
		display: block !important;
	}
	.drop-block{
		display: none;
	}
	/*HEADER*/

	/*Carousel-Img-Text*/
	.carousel-item{
		height: 200px;
	}
	.carousel-caption p{
		font-size: 0.60rem !important;
	}
	.carousel-caption{
		top: 37% !important;
	}
	.carousel-desktop .carousel-indicators{
		z-index:9999 !important;
	}
	.carousel-indicators{
		bottom: -28px;
	}
	.slider-item{
		padding-right: 0 !important;
		font-size: 8px;
	}
	.wp-inst-face{
		width:4% !important;
		height:32% !important;
	}
	.carousel-desktop{
		display: none;
	}
	.carousel-mobile{
		display: block !important;
	}
	/*Carousel-Img-Text*/

	/*IMG_TEXT*/
		.img-block{
		background-position: center center;
		background-size: contain;
	}
	/*IMG_TEXT*/

	/*Carousel-Product-Brand*/
	.carousel-product{
		padding-top: 17px !important;
	}
	.carousel-brand{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	.next_{
		top: 0 !important;
	}
	.prev_{
		top: 0 !important;
	}
	.next_card{
		top: 34% !important;
	}
	.prev_card{
		top: 34% !important;
	}
	.carousel-card h4{
		text-align: center;
	}

	/*Carousel*/

	/*FOOTER*/
	.tomatto{
		z-index: 0;
		position: absolute;
		top: 57px;
		right: 317px;
	}
	.slider-item{
		margin-top: 65px;
		padding-right: 30px;
		font-size: 8px;
	}
	.footer-img{
		text-align: center;
		padding-bottom: 20px;
	}
	.end-img{
		font-size: 9px;
	}
	footer{
		position: relative;
	}
	/*FOOTER*/
	
	/*О КОМПАНИЙ*/
	.company-text{
		background-position: bottom !important;
		padding-bottom: 50%;
	}

	/*Вакансии*/
	.jobs-block{
		background-position-y: 15rem !important;
	}
	.jobs-block{
		text-align: center;
	}
	.pagination{
		display: flex;
		justify-content: center;
	}
	/*Вакансии*/

	/*Бакалея*/
	.bakaleya-block{
		padding-top: 15px !important;
		
	}
	.drop{
		position: relative !important;
		max-width: 100% !important;
		margin-top: 20px;
		width: 100% !important;
	}
	.form-katalog{
		margin-top: 20px;
	}
	/*Бакалея*/
	/*Контакты*/

	.map{
		width: 100% !important;
	}
	/*Контакты*/
	
	/*Адаптация-Доставка И ОПЛАТА*/
	.tab-content{
		padding: 30px 0 30px 30px !important;
	}
	.tab-content:last-child{
		margin-top:20px;
	}
	.delivery-title{
		margin: 0 !important;
	}
	.delivery-p {
		padding-left: 0 !important;
	}
	.delivery-text{
		padding: 20px 10px 10px 10px !important;
	}
	ul.tabs li.current{
		border-radius: 30px !important;
	}
	/*CARD*/
	.carousel-card{
		padding: 0 !important;
	}
	.btn-card{
		text-align: center;
	}
	.btn-korzina{
		margin-top: 15px;
	}
	.tab-3-p{
		padding:30px;
	}
	/*CARD*/
	/*ЛИЧНЫЕ ДАННЫЕ*/
	.carosel-card-tab{
		margin-top: 30px;

	}
	#tab-3{
		padding-right: 10px !important;
		padding-left: 10px !important;
		border: none;
	}
	#tab-1,#tab-2,#tab-3{
		border: none !important;
	}

	.card-body img{
		width: 100% !important;
	}
	.carousel-card-img-2 button{
		padding-left: 15px !important;
		padding-right: 15px !important;
		font-size: 12px;
	}
	.tabs-text{
		text-align: center;
	}
	/*ЛИЧНЫЕ ДАННЫЕ*/

	/*КОРЗИНА*/
	.basket-block{
		display: none;
	}
	.basket-mobile{
		display: block !important;
		padding-top: 40px;
	}
	.basket-mobile-card{
		padding-top: 20px;	
	}
	.basket-mobile-card:first-child{
		border-bottom: 3px dashed silver;
	}
	.basket-button-mobile{
		padding-bottom: 40px;
	}
	.basket-button-mobile button{
		border-radius: 30px;
	}
	.basket-button-mobile .busket-button button{
		border-radius: 30px;
	}
	.basket-title{
		padding-bottom: 20px !important;
		text-align: center;
	}
	.basket-border{
		padding-bottom: 20px;
	}
	.number{
		padding-top: 0 !important;
		padding-bottom: 10px !important;
	}
	.basket-text{
		border: 1px solid silver;
		padding: 10px 30px;
		margin-top: 20px;
		background-color: #f3f3f3;
	}
	/*КОРЗИНА*/
	/*SCROLL*/
	.scrollup{
		right: 5% !important;
		bottom:3% !important;
	}
	/*SCROLL*/
	}
	
	/*CATALOG*/
	.catalog-menu{
		padding-left: 0 !important;
	}
	/*CATALOG*/

	@media screen and ( max-width: 568px){
	.job-clock h6{
		font-size: 14px;
	}
	.main{
		padding-bottom: 10px;
	}
	.header-form button{
		width: 100px;
		font-size: 13px;
	}
	.modal-content{
		padding:0 !important;
	}
	.modal-footer>:not(:first-child){
		margin-left: 0 !important;
	}
	.carousel-desktop{
		display: none;
	}
	.carousel-mobile{
		display: block !important;
	}
	.hide-main{
		display: none;
	}
	.mob-form input{
		width: 68.7%;
	}
	.drop-block-mobile{
		display: block !important;
	}
	}
	/*Адаптация IPAD*/
	@media screen and ( max-width: 768px){
			/*Header*/
	.header{
		padding-bottom: 25px;
	}
	
	.job-clock{
		display: none;
	}
	.job-clock_1{
		display: none !important;
	}
	.job-clock_2{
		display: none !important;
	}
	.header-logo img{
		height: 115px !important;
		padding-bottom: 30px !important;
	}
	.job-clock h6{
		margin-left: 0 !important;
	}
	.btn-header{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.main-form{
		padding-top: 0 !important;
	}
	.main{
		position: absolute;
		top: -128px;
		left: 5%;
	}
	.main h6{
		display: none !important;
	}
	.hide-main{
		display: none;
	}
	.submenu{
		top: 0;
	}
	.user-mobile{
		display: block !important;
	}
	#exit{
		right: 45%;
	}
	.mob-form input{
	width: 76%;
}
	.location-mob{
		display: block !important;
	}
	.location-mob{
		padding-top: 15%;
	}
	.submenu img{
		bottom: 0 !important;
	}
	.user a:first-child{
		position: absolute;
		right: 3%;
		top: -138px;
	}
	.header-logo{
		text-align: center;
	}
	.basket{
		position: absolute;
		left: 68%;
		top: -138px;
	}
	.job-clock_mob-1 p{
		text-decoration: underline;
		color: #e54b65 !important;
	}
	.footer{
		padding:10px 0 10px 0 !important;
	}
	.modal-text{
		font-size: 14px;
	}
	.modal-footer a{
		padding-left: 0 !important;
	}
	/*HEADER*/
	/*CAROUSEL-DESKTOP*/
	.carousel-desktop{
		display: none;
	}
	/*CAROUSEL-DESKTOP*/

	/*CAROUSEL-MOBILE*/
	.carousel-mobile{
		display: block !important;
	}
	/*CAROUSEL-MOBILE*/

	/*Carousel-Img-Text*/
	.carousel-item{
		height: 200px;
	}
	.carousel-caption{
		top: 37% !important;
	}
	.carousel-caption p{
		font-size: 0.71rem !important;
	}
	.carousel-indicators{
		bottom: -28px;
	}
	.slider-item{
		padding-right: 0 !important;
		font-size: 14px;
	}
	.wp-inst-face img{
		left: 4% !important;
		bottom:30% !important;
	}
	/*Carousel-Img-Text*/

	/*IMG_TEXT*/
		.img-block{
		background-position: bottom;
		background-size: contain;
	}
	/*IMG_TEXT*/

	/*Carousel-Product-Brand*/
	.carousel-product{
		padding-top: 17px !important;
	}
	.carousel-brand{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	.next_{
		top: 0 !important;
	}
	.prev_{
		top: 0 !important;
	}
	.next_card{
		top: 34% !important;
	}
	.prev_card{
		top: 34% !important;
	}
	.carousel-card h4{
		text-align: center;
	}

	/*Carousel*/

	/*FOOTER*/
	.tomatto{
		z-index: 0;
		position: absolute;
		top: 57px;
		right: 317px;
	}
	.slider-item{
		margin-top: 65px;
		padding-right: 30px;
	}
	.footer-img{
		text-align: center;
		padding-bottom: 20px;
	}
	.end-img{
		font-size: 14px;
	}
	footer{
		padding:0 0 0 0 !important;
		position: relative;
	}
	.end-img{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	/*FOOTER*/
	
	/*О КОМПАНИЙ*/
	.company-text{
		background-position: bottom !important;
		padding-bottom: 105% !important;
	}

	/*Вакансии*/
	.jobs-block{
		text-align: center;
	}
	/*Вакансии*/

	/*Бакалея*/
	.bakaleya-block{
		padding-top: 15px !important;
		
	}
	.drop{
		position: relative !important;
		max-width: 100% !important;
		margin-top: 20px;
		width: 100% !important;
		font-size: 13px;
		padding:3px 10px !important;
	}
	.form-katalog{
		margin-top: 20px;
		font-size: 13px;
	}
	/*Бакалея*/
	/*Контакты*/

	.map{
		width: 100% !important;
	}
	/*Контакты*/
	
	/*Адаптация-Доставка И ОПЛАТА*/
	.tab-content{
		padding-left: 15px !important;
	}
	.delivery-title{
		margin: 0 !important;
	}
	.delivery-p {
		padding-left: 0 !important;
	}
	.delivery-text{
		padding: 20px 10px 10px 10px !important;
	}
	/*CARD*/
	.carousel-card{
		padding: 0 !important;
	}
	.btn-card{
		text-align: center;
	}
	.btn-korzina{
		margin-top: 15px;
	}
	/*CARD*/
	}

	/*CATALOG*/
	.catalog-menu{
		padding-left: 0 !important;
	}
	/*CATALOG*/
	/*КОРЗИНА ТОВАРОВ*/
	.busket-button{
		margin-bottom: 20px;
	}
	
	/*Адаптация IPAD*/

	/*Адаптация IPAD-PRO*/
	@media screen and ( max-width: 1024px){
	/*	.header-logo{
		   padding-bottom: 30px;
		}*/
		header{
			text-align: center;
		}
		.btn-header{
			margin-top: 20px;
		}


		/*CATALOG*/
		.search-brand{
			display: flex;
		    justify-content: space-around;
		    padding: 3px;
		    font-size: 14px;
		}
		.search-brand input{
			width: 113px !important;
			padding-left: 5px !important;
		}
		.dropdown input{
			
			
		}
	}
		/*CATALOG*/
	

	/*Адаптация IPAD-PRO*/


	
/*####################################АДАПТАЦИЯ##########################################*/





/*ШРИФТЫ*/
h1{
	font-weight: 400;
	color: #575757;
}
p{
	color: #737675;
}
/*################################Главная-Страница-ДЕСКТОП###############################*/

header{
	box-shadow: 0px 3px 3.92px 0.08px rgba(0, 0, 0, 0.08);
	position: relative;
	z-index: 999;
}
.header-logo img{
	height: 126px;
}
.header{
	padding-top: 25px;
	padding-bottom: 37px;
	font-size: 14px;	
}
.header p{
	color: #e54b65 !important;
	text-decoration: underline;
}
.job-clock_1{
	display: block;
	padding-left: 39px;
}
.job-clock_2{
	padding-left: 33px;
}
.job-clock h6{
	margin-left: 10px;
	display: inline-block;
}
.user a{
	color: black;
}
.main-form{
	padding-top: 18px;
}
.main{
	display: inline-block;
	padding-top: 10px;
}
.main h6{
	display: inline-block;
}
.btn_ button i{
	padding-right: 12px;
}
.header-form{
	font-size: 18px;
	border: 1px solid #6acb6c;
	display: flex;
	justify-content: space-between;
	border-radius: 30px;
	height: 50px;
}
.header-form input{
	background: none;
	width: 80%;
	outline: none;
	padding-left: 30px;
	border: none;
}
.btn-header{
	background-color: #e54b65;
	border-radius: 30px;
	padding: 10px 20px 10px 20px;
}
.btn-header i{
	padding-right: 13px;
}
.btn-form{
	width: 20%;
	padding: 13px 28px 13px 28px;
	background-color: #6acb6c;
	border: none;
	border-radius: 30px;
}
.btn-form i{
	padding-right: 8px; 
}
/*Всплывающее меню*/
.main{
	cursor:pointer;
}
.main h6{
	padding-left: 14px;
}
.main img{
	vertical-align: text-top;
}
.submenu{
	width: 100%;
	text-align: center;
	display: none;
	position: absolute;
	z-index: 999999;
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 20px;
	box-shadow: 0px 3px 3.92px 0.08px rgba(0, 0, 0, 0.08);
}
.submenu img{
	cursor: pointer;
	position: relative;
	bottom: 20px;
}
.submenu a{
	color: #464947;
	
}
.submenu a:hover{
	color: #e54b65;
}
.user-mobile{
	display: none;
	right: 10%;
	z-index: 99999;
}
.user-mob{
	top: 2%;
	right: 7%;
	position: absolute;
	z-index: 99999;
	font-weight: 100;
}
.user-mob i{
	font-size: 34px;
	color: #6acb6c;
	z-index: 9999;
}
.basket-mob{
	top: 3%;
	right: 22%;
	position: absolute;
	z-index: 9999;
}
.user-mob img{
	width: 35px;
}
.user-mobile button{
	border-radius: 50%;
	background-color: #e54b65;
	position: absolute;
	z-index: 999;
	top: 2%;
	left: 15%;
}
.mob-form{
	position: absolute;
	z-index: 99;
	top: 17%;
}
.mob-form form{
	border:1px solid #6acb6c;
	border-radius: 30px;
}
.mob-form button{
	border-radius: 30px;
}



/*Всплывающее меню*/
/*МОДАЛЬНОЕ ОКНО*/
.modal-header{
	border-bottom:1px solid #c6c3c3;
	justify-content: center;
}
.modal-content{
	padding: 0 40px 30px;
}
.modal-body input{
   width: 100%;
   border-radius: 30px;
   border: none;
   background-color: #f3f3f3;
   outline: none;
   padding: 15px 0 15px 22px;
   margin-top: 15px;
}
.modal-text p{
	display: block;
}
.modal-text{
	display: flex;
	justify-content: space-between;
}
.modal-text a{
	color: #6acb6c;
}
.modal-footer{
	border:none !important;
}
.modal-footer button{
	background-color: #6acb6c;
	border-radius: 30px;
	padding: 10px 50px;
	border:none;
}
.modal-footer {
	justify-content: start;
}
.modal-footer a{
	padding-left: 50px;
	color: #e54b65;
}
.modal-btn{
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}
.modal-btn button{
	border-radius: 30px;
}
.btn-modal-1{
	background-color: #E8E8E8;
}
.btn-modal-1:hover{
	background-color: #B8B8B8;
}
.btn-modal-2{
	padding-left: 25px;
	padding-right: 25px;
}
.form-check{
	padding-left: 2.75rem !important;
}
#exampleModalCenter-login p{
	padding-left: 17px;
	color: #464947 !important;
}
/*МОДАЛЬНОЕ ОКНО*/

/*Carousel*/
.wp-inst-face{
	position: absolute;
	z-index: 999;
	max-width: max-content;
	max-height: max-content;
	left: 7%;
	bottom: 9%;
	font-size: 22px
}
.wp-inst-face a{
	color: #606060;
}
.wp-inst-face a:hover{
	color: #F5329A;
}
.carousel-indicators li{
	background-color:  red !important;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	margin: 0 24px 0 0;
	margin-bottom: 7%;
}
.slider-item{
	width:100px;
}
.carousel-caption h1{
	font-family: Elowen Regular;
	color: #00CC65;
}
.carousel-inner img{
	width: auto;
	height: auto;
}
.carousel-caption{
	position: absolute;
	top: 55%;
	transform: translateY(-80%);
}
.carousel-caption p{
	font-size: 14px;
	color: black;
}

/*Carousel*/
/* ///////////////////// CAROUSEL-MOBILE /////////////////////*/
.carousel-mobile{
	display: none;
}
/* //////////////////////CAROUSEL-MOBILE //////////////////////*/


/*Carousel-Product*/
.carousel-product{
	padding-top: 40px;
}
.carousel-block{
	position: relative;
}
.prev{
	position: absolute;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 45px;
	color: #80526b;
}
.next{
	position: absolute;
	right: 0;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 50px;
}
.next a{
	color: #80526b;
}
.prev a{
	color: #80526b;
}
.slider-item{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
}
.carousel-product{
	padding-top: 40px;
}
.carousel-block{
	position: relative;
}
.prev_{
	position: absolute;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 45px;
	color: #80526b;
}
.next_{
	position: absolute;
	right: 0;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 50px;
}
.next_ a{
	color: #80526b;
}
.prev_ a{
	color: #80526b;
}
.slider-item{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
}
/*Carousel-Product*/
/*Text-IMG-Block*/
.img-block{
	padding-top: 96px;
	padding-bottom: 165px;
	background-image: url(../img/block-3.png);
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}
.img-block h1{
	font-family: Elowen Regular;
}

/*Text-IMG-Block*/

/*CAROUSEL-BRAND-Block*/
.carousel-brand{
	padding-top: 90px;
	padding-bottom: 130px;
}
.brand-title{
	padding-top: 90px;
	position: relative;
}
.brand-title h1{
	text-align: center;
	font-family: Elowen Regular;
	z-index: 1;
	position: relative;
	color: #00CC65;
}
.tomatto{
	z-index: 0;
	position: absolute;
	top: 53px;
	right: 796px;
}
.slider-item-2{
	width: 150px;
}

/*BRAND-Block*/
/*FOOTER*/
footer{
	padding: 55px 0 55px 0;
	background-color: #EFEFEF;
}
footer a,p{
	color: #737675;
}
.header-form button{
	border-radius: 30px;
}
.footer-img{
	padding-top: 27px;
}
/*FOOTER*/

/*END_IMG*/
.end-img{
	padding-top: 15px;
	padding-bottom: 47px;
	background-color: #191919;
}
.end-p{
	display: inline-block;
}
.end-img-p{
	display: inline-block;
}
.end-img-p i{
	font-size: 22px;
	padding-left: 15px;
	color: #606060;
}
.end-img-p i:hover{
	color: #48cf88;
}
.end-a{
	color: #48cf88;
}
/*END_IMG*/
/*Главная-Страница*/



/*О-Компаний*/
.company-text{
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: url(../img/company-bg.png);
	max-width: 100%;
	background-repeat: no-repeat;
	background-position: right;
	background-position-y:bottom;
}
.company-text h1{
	color: #797979; 
}
/*О-Компаний*/

/*Доставка И Оплата*/
   #tab-2 li {
    list-style-type: none;
   }
   #tab-2 li:before {
    color: #6acb6c; 
    content: "●";
    padding-right: 10px;
    font-size: 14px;
   }
.delivery-block{
	padding-top: 55px;
	padding-bottom: 59px;
}
.delivery-title{
	margin-left: 55px;
}
.tabs{
	padding-top: 44px !important;
}
.delivery-text{
	background-color: #f8f8f8;
}
.delivery-text{
	padding: 45px 0 65px 57px;
	border-radius: 30px;
	margin-bottom: 60px;
}
.delivery-strong {
	padding-top: 50px;
}
.delivery-strong img{
	position: relative;
	right: 15px;
}

.delivery-p-bottom{
	padding-top: 60px;
}
.text-style{
	color: #6acb6c;
}
.text-style a{
	color: #6acb6c;
}
/*.delivery-strong{
	margin-left: 64px;
}*/
/*Доставка И Оплата*/


/*ВАКАНСИИ*/
.jobs-block{
	padding-top: 55px;
	padding-bottom: 225px;
	background-color:#f8f8f8; 
	background-image: url(../img/jobs-bg.png);
	background-size: cover;
    background-position-y: 12rem;
    background-repeat: no-repeat;

}
.pagination a{
	padding-right: 30px;
	color:#6acb6c;
}



/*ВАКАНСИИ*/

/*ЛИЧНЫЙ КАБИНЕТ*/
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #6acb6c;
	color: #fff;
}
.tabs-block{
	padding-top: 25px;
	padding-bottom: 45px;
}
.tab-link{
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}
.tab-content{
	display: none;
	background: #ededed;
	padding: 45px 0px 55px 60px;
	border-radius: 20px;
}
.tab-content:last-child{
	padding: 45px 55px 55px 55px;
}
.carosel-card-tab{
	background-color: #fff;
	position: relative;
}
.carosel-card-tab a:first-child{
	position: absolute;
	top: 3%;
	right: 3%;
}
.tab-content.current{
	display: inherit;
}
.personal-bg{
	border-radius: 30px;
	padding-top: 46px;
	padding-bottom:60px;
	margin-bottom: 50px;
	background-color:#f8f8f8;
}
.form-group input{
	border-color: #6acb6c;
	border-radius: 30px;
}
.carousel-card-img-2 button{
	padding-left: 35px;
	padding-right: 40px;
	border-radius: 30px;
	background-color: #6acb6c;
	border: none;
	margin-bottom: 18px;
}
.carousel-card-img-2 img{
	display: inline-block !important;
	/*width: auto !important;*/
}
.carousel-card-img-2:hover {
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.09);
}
.carousel-card-img-2:hover .card-text-2{
	display: block;
	position: relative;
}
.btn-korzina-2 img{
	padding-right: 10px;
	transition: all 0.3s ease;
}
.btn-korzina-2:hover img{
	transform: rotate(720deg);
}
.btn-korzina:hover img{
	transform: rotate(720deg);
}
/*ЛИЧНЫЙ КАБИНЕТ*/

/*КОНТАКТЫ*/
.contacts-loc:after{
	content:url(../img/location.png);
	position: absolute;
	top: 0;
	left: 0px;
}
.location:after{
	content: url(../img/phone-green.png);
	position: absolute;
	top: 0;
	left: 0px;
}
.location{
	position: relative;
}
.contacts a{
	color:#737675;
	padding-left: 9px;
}
.contacts p{
	padding-left: 30px;
}
.email p{
	padding-left: 5px;
}
.email i{
	color: #6acb6c;
}
.contacts-block{
	padding-top: 55px;
	padding-bottom: 60px;
}
.contacts-loc{
	margin-top: 50px;
	position: relative;
}
.btn-contacts{
	border-radius: 30px;
}
.btn-contact{
	font-size: 15px;
	background-color: #e54b65;
	color: #fff;
	border-radius: 30px;
}
.email img a p{
	display: inline-block;
}
.btn-contact{
	padding-left: 40px;
	padding-right: 40px;
}
/*КАРТА*/
.map{
	padding-top: 25px;
	width: 475px;
	height: 275px;
}
/*КАРТА*/

/*КОНТАКТЫ&&&&*/


/*CATALOG*/
.bakaleya-block{
	padding-top: 45px;
	padding-bottom: 117px;
}
.card_{
	background-color: #fff;
	padding-top: 50px;
	position: relative;
}
.card-bg{
	margin-top: 80px;
	transition: all 0.5s ease;
	position: relative;
}
.card-bg:hover{
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.09);
}
.card-text-2{
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.09);
	z-index: 999;
	background-color: #fff;
	width: 100%;
	text-align: center;
}
.card-text-2 a{
	color: #6acb6c;
}
.card-text{
	font-size: 13px;
}
.card-text span{
	font-size: 18px;
	color: #e54b65;
}
.card-bg:hover .card-text-2{
	display: block;
	z-index: 999;
}
.btn-korzina{
	color: #fff; 	
	background-color: #6acb6c;
	border-radius: 30px;
	padding-left: 45px;
	padding-right: 45px;
	margin-bottom: 10px; 
	border: none; 
}
.btn-korzina img{
	padding-right: 10px;
	transition: all 0.3s ease;
}
/*LIKE-BTN*/
#like-button:hover {
  cursor: pointer;
  color: #cd0928;
}
#like-button.not-liked {
  color: #e54b65;
  font-size: 22px;
  position: absolute;
  z-index: 99;
  right: 3%;
  top:3%;
}
#like-button.not-liked:hover {
  color: #e54b65;
}
#like-button.liked {
  color: #cd0928;
}
#like-button.liked-shaked {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transform: rotate(0deg);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }
  20%, 80% {
    transform: translate3d(0, -2px, 0) rotate(5deg);
  }
  30%, 50%, 70% {
    transform: translate3d(0, 0px, 0) rotate(0deg);
  }
  40%, 60% {
    transform: translate3d(0, -2px, 0) rotate(-5deg);
  }
}


/*LIKE-BTN*/
/*ВЫПОДАЮЩЕЕ МЕНЮ*/
.drop-wrap{
	position: relative;
}
.balaleya-dropdown{
	cursor: pointer;
}
.dropdown{
  max-height: 400px;
  list-style:none;
  margin:0;
  display:none;
  padding-left: unset;
  padding-top: 25px;
  padding-bottom: 25px;
}
.dropdown ul{
	list-style: none;
	padding-left: 0;
}
.disp {
  display:block;
}
.dropdown-scroll{
	padding-top: 20px;
	max-height: 300px;
	overflow-y: auto;
}
.curet-down{
	position: absolute;
	right: 10px;
}
.drop a{
	color: #737675;
}
.drop a:hover{
	color: #6acb6c;
}
.dropdown.open-menu{
	background-color: #fff;
	display: block;
	z-index: 1;
}
.dropdown input{
	margin: 5px 10px 5px 10px;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left: 25px;
	color: #48cf88;
	background-color: #f3f3f3;
}
.drop{
	padding: 3px 20px;
	border: 1px solid #6acb6c;
	border-radius: 20px;
	color: #737675;
	background-color: #fff;
	position: absolute;
	width: 90%;
	max-width: 100%;
	z-index: 999 !important;
}
.drop-block-mobile{
	padding-top: 45px;
	padding-bottom: 45px;
	box-shadow: 0px 3px 8.28px 0.72px rgba(0, 0, 0, 0.1);
}

.drop-block{
	padding-top: 45px;
	margin-top: 50px;
	height: 400px;
	box-shadow: 0px 3px 8.28px 0.72px rgba(0, 0, 0, 0.1);
}
.drop-block .drop-tab li .drop-tab-active{
	color: red !important;
}
.tab-krupa-active{
	color: red;
	display: block;
}
.tab-sort{
	display: none;
}
.krupa-active{
	display: block;
}

.drop-block a{
	color: #464947;
}
.drop-block li{
	list-style-type: none;
}
.drop-block ul{
	padding-left: 9px;
}
.drop-block a:hover{
	text-decoration: none;	
	color: #e54b65;
}
.tab-active{
	color: red;
}

/*DROP-BLOCK-MOBILE*/
.drop-block-mobile .drop-tab li .drop-tab-active{
	color: red !important;
}
.drop-block-mobile a{
	color: #464947;
}
.drop-block-mobile li{
	list-style-type: none;
}
.drop-block-mobile ul{
	padding-left: 9px;
}

/*DROP-BLOCK-MOBILE*/










/*ВЫПОДАЮЩЕЕ МЕНЮ*/

/*CATALOG*/
.bakaleya-title{
	color: #7A6C57;
	text-align: center;
	font-family: Elowen Regular;
}
.form-katalog{
	position: relative;
	border-radius: 20px;
	border: 1px solid #6acb6c;
}
.form-katalog input{
	width: 81.6%;
	border-radius: 20px;
	border: none;
	outline: none;
	padding: 3px 20px;
}
.form-katalog button{
	border: none;
	background: none;
	position: absolute;
	top: -6px;
	right: 0;
}
.form-katalog button:hover{
	border: none;
	background: none;
	outline: none;
}
.search-brand{
	margin-top: 14px;
	background-color:#f3f3f3; 
	border-radius: 20px
}
.search-brand input{
	background:none;
	width: 146px; 
}
.search-brand button{
	border: none;
	background: none;
}
.search-brand button:hover{
	border: none;
	background: none;
	outline: none;
}

/*КОРЗИНА*/
.basket-block{
	padding-top: 55px;
	padding-bottom: 40px;
}
.basket-title{
	padding-bottom: 70px;
}
span{cursor:pointer; }
	.number{
		display: flex;
	}
.minus, .plus{
	color: #fff;
	width:35px;
	height:35px;
	border-radius:4px;
	padding:4px 5px 8px 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border: none;
}
.minus{
	color: #fff;
	background-color: #e54b65;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.plus{
	background-color: #6acb6c;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.number input{
	height:35px;
	width: 100px;
	text-align: center;
	font-size: 18px;
	border:1px solid #ddd;
	border-radius:4px;
	display: inline-block;
	vertical-align: middle;
	background-color:#f3f3f3;
	font-weight: 100;
	color: #8e8e8e;
}
/*.basket-input{
	position: relative;
}*/
/*.basket-input::after{
	content: 'шт';
	position: absolute;
	z-index: 9999;
}*/
.basket-p{
	color: #e54b65;
	padding-left: 15px;
}
.basket-block button{
	border-radius: 30px;
	padding-left:30px;
	padding-right: 30px;
}
.busket-button p{
	display: inline-block;
	padding-right: 22px;
}			
.number p{
	font-size: 18px;
	color: #e54b65 !important;
}
.number{
	padding-top: 30px;
}
.basket-mobile{
	display: none;
}

/*КОРЗИНА*/


/*КАТАЛОГ*/
.catalog{
	background-color: #fefce3;
	padding-top: 20px;
}
.catalog-link a{
	color: #6acb6c;
	text-decoration: underline;
}
.catalog-link a:hover{
	color: #2c8a43;
}
.catalog-img-text{
	padding-top: 30px;
	padding-bottom: 90px;
}
.catalog-menu{
	padding-top: 18px;
	padding-left: 70px;
}
.carousel-card{
	padding-bottom: 117px;
}
.catalog-img{
	background-color: #fff;
	padding-top: 45px;
	padding-bottom: 50px;
	box-shadow: 0px 3px 9.2px 0.8px rgba(0, 0, 0, 0.06);
}
.catalog-price{
	color: #e54b65;
	text-align: center;
}
.btn-like{
	background-color: #e54b65;
}
/*КАРУСЕЛЬ КАРТОЧКИ*/
.card-body{
	padding-top: 50px;
}
.carosel-card{
	margin-top: 50px;
	background-color: #fff;
	position: relative;
}
.catalog-text{
	padding-top: 50px;
}
.carousel-card-img {
	margin-right: 22px;
	margin-left: 22px;
	min-height: 450px;
}
.carousel-card-img img{
	display: inline-block !important;
	width: auto !important;
}
.carousel-card-img:hover {
	transition: 0.5s ease;
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.09);
}

.carousel-card-img:hover .card-text-2{
	display: block;
	z-index: 999;
}

.carousel-card .prev_card,.carousel-card .next_card{
	top: 35%;
}
.prev_card{
	position: absolute;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 45px;
	color: #80526b;
}
.next_card{
	position: absolute;
	right: 0;
	top: 5%;
	z-index: 99;
	cursor: pointer;
	font-size: 45px;
}
.next_card a{
	color: #80526b;
}
.prev_card a{
	color: #80526b;
}

/*КАРУСЕЛЬ КАРТОЧКИ*/

/*КНОПКА ПРОКРУТКИ ВВЕРХ*/
.scrollup{
width:115px;
height:50px;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
z-index: 999;
cursor: pointer;
}
.scrollup:hover{
	background: rgba(199, 199, 199, 0.64);
	border-radius: 15px;
	transition: 0.3s ease;
}
/*КНОПКА ПРОКРУТКИ ВВЕРХ*/

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #6acb6c; }
::-webkit-scrollbar-track {  background-color: #6acb6c;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 10px; background-color: #6acb6c; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #6acb6c;}}
::-webkit-resizer { background-color: #6acb6c;}



/*ТЕСТЕ КАРУСЕЛИ*/
.carousel-inner {
	text-align: center;	
}
.carousel-img-first img{
	width: auto;
	height: auto;
}
.carousel-img-first{
	padding-top: 2rem;
}
.carousel-item {
	position: relative;
	background-color: #f5d5e6;
}
.carousel-img-item{
	position: relative;
}
.carousel-img-item img{
	width: auto;
	height: auto;
	z-index: 99;
}
.carousel-img-item-1{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 99;
	bottom: 13%;
	left: 11%;
}
.carousel-img-item-2{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 99;
	bottom: 40%;
	left: 8%;
}
.carousel-img-item-3{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 99;
	top: 13%;
	left: 25%;
}
.carousel-img-item-4{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 99;
	top: 5%;
	right: 25%;
}
.carousel-img-item-5{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 99;
	top: 15%;
	right: 13%;
}
.carousel-img-item-6{
	width: auto !important;
	height: auto !important;
	position: absolute;
	z-index: 9;
	bottom: 15%;
	right: 10%;
}

/**/


@keyframes move {
  0%{

  }
  50%{
  	
  }

  from {  transform: translateY(0); }
  to {  transform: translateY(50px); }
}
.animat-move  {
  animation: move 2s infinite; 
  animation-direction: alternate;
}

/*CAROUSEL-2*/

.carousel-2 {
    background-color: #82d4f6;
    height: 538px;
    background-image: url(../bg-carousel-2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.bg-glav {
    position: absolute;
    bottom: 0;
    right: -19%;
}



/*CAROUSEL-2-ITEM*/

.animate-item-1{
	position: absolute;
	bottom: 10%;
	left: 20%;
	animation: sberry 1s; /* анимация клубники */
}
.animate-item-2{
	position: absolute;
	bottom: 0;
	animation: sberryMove 1.55s infinite;
	animation-delay: 1s;
	animation-direction: alternate;
	opacity: 0;
}


@keyframes sberry{
	from{
		transform: translate(0, 0);
		animation-timing-function: linear;
	}
	to{
		transform: translate(580px, -300px);
		animation-timing-function: linear;
	}
	90%{
		transform: translate(580px, -300px);
		animation-timing-function: linear; 
	}
	95%{
		transform: translate(580px, -300px);
		animation-timing-function: linear;
	}
	100%{
		transform: translate(580px, -300px);
		animation-timing-function: linear;
	}
}
@keyframes sberryMove{
	from{
		transform: translate(120px,-340px);
		opacity: 1;
	}
	to{
		transform: translate(120px,-320px);
		opacity: 1;
	}
}



.animate-item-3{
	position: absolute;
	bottom: 10%;
	left: 20%;
	animation: cherry 1s; /* анимация вишни */
}
.animate-item-4{
	position: absolute;
	bottom: 0;
	animation: cherryMove 1.55s infinite;
	animation-delay: 1s;
	animation-direction: alternate;
	opacity: 0;
}

@keyframes cherry{
	from{
		transform: translate(0, 0);
		animation-timing-function: linear;
	}
	to{
		transform: translate(700px, -390px);
		animation-timing-function: linear;
	}
	90%{
		transform: translate(700px, -390px);
		animation-timing-function: linear; 
	}
	95%{
		transform: translate(700px, -390px);
		animation-timing-function: linear;
	}
	100%{
		transform: translate(700px, -390px);
		animation-timing-function: linear;
	}
}
@keyframes cherryMove{
	from{
		transform: translate(300px,-450px);
		opacity: 1;
	}
	to{
		transform: translate(300px,-420px);
		opacity: 1;
	}
}


.animate-item-5{
	position: absolute;
	bottom: 10%;
	left: 20%;
	animation: blueberries 1s; /* анимация ЧЕРНИКИ */
}
.animate-item-6{
	position: absolute;
	bottom: 0;
	animation: blueberriesMove 1.55s infinite;
	animation-delay: 1s;
	animation-direction: alternate;
	opacity: 0;
}

@keyframes blueberries{
	from{
		transform: translate(0, 0);
		animation-timing-function: linear;
	}
	to{
		transform: translate(230px, -280px);
		animation-timing-function: linear;
	}
	90%{
		transform: translate(230px, -280px);
		animation-timing-function: linear; 
	}
	95%{
		transform: translate(230px, -280px);
		animation-timing-function: linear;
	}
	100%{
		transform: translate(230px, -280px);
		animation-timing-function: linear;
	}
}
@keyframes blueberriesMove{
	from{
		transform: translate(-100px,-380px);
		opacity: 1;
	}
	to{
		transform: translate(-100px,-320px);
		opacity: 1;
	}
}


.animate-item-7{
	position: absolute;
	bottom: 10%;
	left: 20%;
	animation: dropmove 1s; /* анимация капли */
}
.animate-item-8{
	position: absolute;
	bottom: 0;
	animation: dropMove 1.55s infinite;
	animation-delay: 1s;
	animation-direction: alternate;
	opacity: 0;
}

@keyframes dropmove{
	from{
		transform: translate(0, 0);
		animation-timing-function: linear;
	}
	to{
		transform: translate(90px, -350px);
		animation-timing-function: linear;
	}
	90%{
		transform: translate(90px, -350px);
		animation-timing-function: linear; 
	}
	95%{
		transform: translate(90px, -350px);
		animation-timing-function: linear;
	}
	100%{
		transform: translate(90px, -350px);
		animation-timing-function: linear;
	}
}
@keyframes dropMove{
	from{
		transform: translate(-240px,-400px);
		opacity: 1;
	}
	to{
		transform: translate(-240px,-420px);
		opacity: 1;
	}
}




.animate-item-9{
	position: absolute;
	bottom: 10%;
	left: 20%;
	animation: dropmovee 1s; /* анимация капли 2*/
}
.animate-item-10{
	position: absolute;
	bottom: 0;
	animation: dropMovee 1.55s infinite;
	animation-delay: 1s;
	animation-direction: alternate;
	opacity: 0;
}

@keyframes dropmovee{
	from{
		transform: translate(0, 0);
		animation-timing-function: linear;
	}
	to{
		transform: translate(890px, -350px);
		animation-timing-function: linear;
	}
	90%{
		transform: translate(890px, -350px);
		animation-timing-function: linear; 
	}
	95%{
		transform: translate(890px, -350px);
		animation-timing-function: linear;
	}
	100%{
		transform: translate(890px, -350px);
		animation-timing-function: linear;
	}
}
@keyframes dropMovee{
	from{
		transform: translate(470px,-350px);
		opacity: 1;
	}
	to{
		transform: translate(470px,-330px);
		opacity: 1;
	}
}

/*CAROUSEL-2*/

/*CAROUSEL-TEXT*/
.carousel-caption-2{
	position: absolute;
	right: 8rem;
	top: 10rem;
	z-index: 99999;
}
.carousel-caption-2 h1{
	color: #e54b65;
    font-family: Elowen Regular;
}
.carousel-caption-2 button{
	padding: 15px 34px;
	border:none;
	border-radius:30px;
	color: #37616e;
}
.carousel-caption-2 button:hover{
	color: #fff;
	background-color: #B8B8B8;
}
/*CAROUSEL-333*/
.carousel-desktop .carousel-indicators{
	z-index: 9999;
}
.carousel-3 {
    height: 538px;
    background-image: url(../img/bg-carousel-3.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.sl-3-mobile{
	position: absolute;
	top: 2rem;
}
.tomatto-sl-3{
	position: absolute;
	top:30%;
	right: 45%;
	z-index: 99;
}
.cherry-sl-3{
	position: absolute;
	bottom: 13rem;
	right: 13rem;
}
.foliage-sl-3{
	position: absolute;
	top: 15%;
	right: 50%;
}
.blueberries-sl-3{
	position: absolute;
	top: 45%;
	right: 55%;
}
.broccoli-sl-3{
	position: absolute;
	top:5rem;
	right:7rem;
}
.balgarski-sl-3{
	position: absolute;
	bottom:3rem;
	right:42%;
}
.Strawberry-sl-3{
	position: absolute;
	bottom: 2rem;
	right:4rem;
}
.carousel-caption-3{
	position: absolute;
	text-align: left;
	left: 10%;
	top: 20%;
	
}
.carousel-caption-3 p{
	color:#1e0000 !important;
}
.carousel-caption-3 h1{
	font-family: Elowen Regular;
	color: #00CC65;
	margin-top: 2rem;
}
.carousel-caption-3 h1:first-child{
	font-family: "Century Gothic";
	color: rgb(229, 75, 101);
	font-weight: bold;
	line-height: 0.5;
	margin-bottom: 3rem;
	display: inline;
}
.carousel-caption-3 small{
	font-family: "Century Gothic";
	color: rgb(229, 75, 101);
	font-weight: bold;
}
/*CAROUSEL-333*/

/*CAROUSEL-444*/
.carousel-4{
	height: 538px;
	background-color: #f6f6f6;
	position: relative;
}
.carousel-text-4 h1{
	color: #542e13;
}
.carousel-text-4 button{
	border-radius:30px;
	color: #fff;
	background-color: #f4c26d;
	border:none;
	padding: 15px 34px;
	margin-top: 1rem;
}
.carousel-text-4 button:hover{
	color: #fff;	
}
.sl-4-top{
	position: absolute;
	top: -35%;
	left: 18%;
}
.sl-4-top-2{
	position: absolute;
	top: -8%;
	left:37%;
}
.sl-4-top-3{
	position: absolute;
	top: -8%;
	left: 50%;
}
.sl-4-left{
	position: absolute;
	left: 27%;
	top: 34%;
}
.sl-4-right{
	position: absolute;
	right: 12%;
	top: 34%;
}
.lojka{
	position: absolute;
	left: 15%;
	bottom: 10%;
}
.sl-4-bottom{
	position: absolute;
	bottom: 6%;
	left: 20%;
}
.sl-4-bottom-1{
	position: absolute;
	bottom: 0;
	right: 30%;
}
.sl-4-bottom-2{
	position: absolute;
	bottom: 0;
	left: 32%;
}
/*CAROUSEL-4*/
/*/////////////////////////////////QUESTIONS///////////////////////////*/
.questions-main{
	padding-top: 55px;
	padding-bottom: 85px;
}
.questions-left{
	border-right: 1.5px solid #b8b8b8;
}
.questions-left ul{
	padding-left: 0;
}
.questions-left ul li{
	padding-top: 1.6rem;
	list-style-type: none;
	color: #575757;
	cursor: pointer;
}
.q-tab-active{
	color: #6acb6c !important;
	font-weight: bold;
}
.q-tab-content-active{
	display: block !important;
}
.q-tab-content{
	display: none;
}
.q-tab-content ul{
	padding-left: 0;
	color: #575757;
}
.q-tab-content ul li{
	list-style-type: none;

}
.q-tab-active::before{ 
	content:url(../img/icon-arrow-down.png); 
	margin-right:10px; 
}
/*/////////////////////////////////QUESTIONS///////////////////////////*/