<template>
	<div>
		<div class="carousel-product">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="carousel-block">
							<div class="prev_">
								<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
							</div>
							<div class="carousel-js">
								<div class="owl-carousel owl-theme catalog-slider">
									<catalogCategory  v-bind:key="category.id" v-for="category in categories" v-bind:name="category.name" v-bind:id="category.id" v-bind:image="category.image" @category="changecat"></catalogCategory>
								</div>
							</div>
							<div class="next_">
								<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CATALOG-SLIDER -->

		<!-- Bakaleya-BLOCK -->
		<div class="container">
			<div class="bakaleya-title">
				<h1 class="display-4">бакалея</h1>
			</div>
			<div class="bakaleya-block">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-3">
						<div class="drop-block-mobile" style="display: none">
							<ul class="drop-tab">
								<subcategory v-for="subcategory in subcategories"  v-bind:key="'mobile'+subcategory.id" v-bind:name="subcategory.name" v-bind:id="subcategory.id" @subcategory="getProducts"></subcategory>
							</ul>
						</div>
						<div class="drop">
							<div id="search-dropdown" class="balaleya-dropdown">
								<span>По брендам<span class="curet-down"><img src="img/curet-down.png" alt=""></span></span>
							</div>
							<div class="dropdown" id="search-drop">
								<form action="form" class="search-brand">
									<input type="text" v-model="searchBrand" placeholder="Найдите бренд">
									<button class="btn btn-success"><img src="img/green-search.png" alt=""></button>
								</form>
								<div class="dropdown-scroll">
									<ul>
										<li v-for="brand in actualBrands"><p><input :value="brand.id" v-model="checkedBrands" type="checkbox">{{ brand.title }}</p></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="drop-block ">
							<ul class="drop-tab">
								<subcategory v-for="subcategory in subcategories"  v-bind:key="subcategory.id" v-bind:name="subcategory.name" v-bind:id="subcategory.id" @subcategory="getProducts"></subcategory>
							</ul>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-9">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-4">
								<div class="brop-wrap">
									<div class="drop">
										<div id="spa1" class="balaleya-dropdown">
											<span>По цене <span class="curet-down"><img src="img/curet-down.png" alt=""></span></span>
										</div>
										<ul class="dropdown text-center" id="popularity">
											<li>
												<form action="form" class="drop-form">
													От<input v-model="priceMin" type="number" placeholder="1000" style="width: 100px;">KZT
												</form>
											</li>
											<li>
												<form action="form">
													До<input v-model="priceMax" type="number" placeholder="25000" style="width: 100px;">KZT
												</form>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4">
								<div class="drop-wrap">
									<div class="drop">
										<div  id="rating" class="balaleya-dropdown">
											<span>По популярности<span class="curet-down"><img src="img/curet-down.png" alt=""></span></span>
										</div>
										<ul class="dropdown" id="class-rating">
											<li>
												<span @click="sort='popularity'">По популярности</span>
											</li>
											<li>
												<span @click="sort='priceAsc'">По возрастанию цены</span>
											</li>
											<li>
												<span @click="sort='priceDesc'">По убыванию цены</span>
											</li>
											<li>
												<span @click="sort='new'">По новинкам</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-4">
								<form action="form" class="form-katalog">
									<input type="text" v-model="search" placeholder="По названию">
									<button class="btn btn-success"><img src="img/green-search.png" alt=""></button>
								</form>
							</div>
						</div>
						<!-- Вкладки для категорий слева -->
						<div class="row">
							<product v-for="product in activeProducts" v-bind:key="product.id" v-bind:id="product.id" v-bind:title="product.title" v-bind:price="product.price" v-bind:image="product.image"></product>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div class="modal fade" id="modal-like" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5>Товар добавлен в избранное</h5>
					</div>
					<div class="modal-btn">
						<button type="button" class="btn btn-light btn-modal-1" data-dismiss="modal">Продолжить покупки</button>
						<button type="button" class="btn btn-success btn-modal-2" data-dismiss="modal">Оформить заказ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
		mounted() {
			var self=this;
			Axios.get('http://dostamarket.ibeacon.kz/api/v1/categories').then(function (response) {
				for (var i = response.data.length - 1; i >= 0; i--) {
					self.categories.push(response.data[i]);
				}
				catalog_slider();
				self.changecat(1, true);
			})
			Axios.get('http://dostamarket.ibeacon.kz/api/v1/brands').then(function (response) {
				for (var i = response.data.length - 1; i >= 0; i--) {
					self.brands.push(response.data[i]);
				}
			})
		},
		data: function () {
			return {
				categories: [],
				currentCategory: 0,
				subcategories: [],
				products: [],
				brands: [],
				availableBrands: [],
				checkedBrands: [],
				priceMin: 0,
				priceMax: 0,
				sort: 'price',
				page: 1,
				perPage: 9,
				pages: [],
				searchBrand: '',
				search: ''
			}
		},
		methods: {
			changecat: function(id, init){
				this.currentCategory = id;
				var index = 1;
				if(!init){
					index = this.categories.map(e => e.id).indexOf(id);
				}
				this.subcategories=[];
				for (var i = this.categories[index].children.length - 1; i >= 0; i--) {
					this.subcategories.push(this.categories[index].children[i]);
				}
				console.log(this.subcategories);
				this.getProducts(this.subcategories[0].id)
			},

			getProducts: function(id){
				var self=this;
				Axios.get('http://dostamarket.ibeacon.kz/api/v1/products/'+id).then(function (response) {
					self.products = [];
					for (var i = response.data.length - 1; i >= 0; i--) {
						response.data[i].canBeSeen = 1;
						self.availableBrands.push(response.data[i].brand_id);
						self.products.push(response.data[i]);
					}
					
					self.products.sort(self.sortBy('price', true, parseInt));
				})
			},
			sortBy: function(field, reverse, primer){
			   var key = primer ? 
				   function(x) {return primer(x[field])} : 
				   function(x) {return x[field]};

			   reverse = !reverse ? 1 : -1;

			   return function (a, b) {
				   return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
				 } 
			},
			filter: function(){
				var self=this;
				if(this.priceMin == 0 && this.priceMax == 0 && this.checkedBrands.length == 0){
					this.products.forEach(function(product) {
						product.canBeSeen = 1;
					});
				}
				else{
					if (this.priceMin != 0 && this.priceMax == 0 && this.checkedBrands.length == 0) {
						this.products.forEach(function(product) {
							if(product.price >= self.priceMin){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
					if (this.priceMin == 0 && this.priceMax != 0 && this.checkedBrands.length == 0) {
						this.products.forEach(function(product) {
							if(product.price <= self.priceMax){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
					if (this.priceMin == 0 && this.priceMax == 0 && this.checkedBrands.length != 0) {
						this.products.forEach(function(product) {
							if(self.checkedBrands.includes(product.brand_id)){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}	 
						})
					}
					if (this.priceMin != 0 && this.priceMax != 0 && this.checkedBrands.length == 0) {
						this.products.forEach(function(product) {
							if(product.price >= self.priceMin && product.price <= self.priceMax){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
					if (this.priceMin != 0 && this.priceMax == 0 && this.checkedBrands.length != 0) {
						this.products.forEach(function(product) {
							if(product.price >= self.priceMin && self.checkedBrands.includes(product.brand_id)){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
					if (this.priceMin == 0 && this.priceMax != 0 && this.checkedBrands.length != 0) {
						this.products.forEach(function(product) {
							if(product.price <= self.priceMax && self.checkedBrands.includes(product.brand_id)){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
					if (this.priceMin != 0 && this.priceMax != 0 && this.checkedBrands.length != 0) {
						this.products.forEach(function(product) {
							if(product.price >= self.priceMin && product.price <= self.priceMax && self.checkedBrands.includes(product.brand_id)){
								product.canBeSeen = 1;
							}
							else{
								product.canBeSeen = 0;
							}
						})
					}
				}
			}

		},
		watch: {
			checkedBrands: function (newCheck, oldCheck) {
				this.filter();
			},
			priceMin: function (newMin, oldMin) {
				this.filter();
			},
			priceMax: function (newMax, oldMax) {
				this.filter();
			},
			sort: function (newSort, oldSort) {
				if(newSort == 'priceAsc')
					this.products.sort(this.sortBy('price', false, parseInt));
				if(newSort == 'priceDesc')
					this.products.sort(this.sortBy('price', true, parseInt));
				if(newSort == 'popularity')
					this.products.sort(this.sortBy('views', false, parseInt));
				if(newSort == 'new')
					this.products.sort(this.sortBy('created_at', false));
			}
		},
		computed: {
			activeProducts: function () {
				if(this.search == ''){
					return this.products.filter(function(product) {
						if(product.canBeSeen == 1){
							return product;
						}		        	
					})
				}
				else{
					var self=this;
					return this.products.filter(function(product) {
						if(product.title.toLowerCase().startsWith(self.search.toLowerCase())){
							if(product.canBeSeen == 1){
								return product;
							}
						}	        	
					})	
				}
			},
			actualBrands: function () {
				var self=this;
				return this.brands.filter(function(brand) {
					if(self.availableBrands.includes(brand.id)){
						if(self.searchBrand == ''){
							return brand;
						}
						else{
							if(brand.title.startsWith(self.searchBrand)){
								return brand;
							}
						}
					}						        	
				})
			}
		}
	}
</script>