<template>
	<div class="slider-item text-center" @click="$emit('category', id)">
		<!-- <a :href="'catalog/'+id"> -->
			<img :src="'http://dostamarket.ibeacon.kz/storage/'+image">
			<p>{{ name }}</p>
		<!-- </a> -->
	</div>
</template>
<script type="text/javascript">
	export default {
		props: ['name', 'image', 'id']
	}
</script>