<template>
    <div class="col-lg-4 col-sm-12 col-md-4">
        <div class="card-bg wow fadeInUp">
            <div class="text-right">
                <div id="like" >
                    <input type="hidden" name="like" value="0">
                    <span class="like-btn"><i id="like-button" class="fa fa-2x fa-heart-o not-liked" @click="addToFavs"></i></span>
                </div>
            </div>
            <div class="card_ text-center">
                <img :src="'/storage/'+image" alt="...">
                <div class="card-body">
                    <p class="card-text text-left">{{ title }} <br><span>{{ price }} тг</span></p>
                </div>
                <div class="card-text-2">
                    <button @click="addToCart" class="btn btn-success btn-korzina" data-toggle="modal" data-target="#modal-basket"><img src="img/korzina.png" alt="">В корзину</button>
                    <br>
                    <a :href="'/products/'+id">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id', 'title', 'price', 'image'],
        mounted() {
        },
        methods: {
            addToCart(){
                Axios.post('http://dostamarket.ibeacon.kz/cart/add', {id: this.id, q: 1});
            },
            addToFavs(){
                Axios.post('http://dostamarket.ibeacon.kz/favorites/store', {id: this.id}, {
                    headers: { Accept: "application/json" }
                }).then(function(responce){
                    $('#modal-like').modal('show');
                }).catch(error => {
                    if(error.response.status==401){
                        $('#exampleModalCenter').modal('show');
                    }
                })
            }
        }
    }
</script>
